extends layout

block content
  p
    a(href="/users").link < Users

  h1 User authenticated
  
  p: strong user_id: #{user}
  p
    | User id token not saved in this example
    br 
    | (In a production application you would save the user_id token given in the response)