doctype html
html
  
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    a(href="http://enphase.com").logo
      img(src="/images/enphase.png")
    block content