extends user

block action

  hr
  h3 Systems response

  each system in data.systems
    table
      - var tableActions = actions.slice()
      each value, key in system
        tr
          td
            if tableActions.length
              - var action = tableActions.shift()
              a(href='/users/#{index}/#{action.path}/#{system.system_id}').link= action.name
          td: strong= key
          td= value