extends layout

block content

  p
    a(href="/users").link back

  h1= title
 
  p Enlighten Id: #{user.id}

  h3 Actions
  ul
    li 
      a(href="/users/#{index}/systems").link Get systems

  block action