@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600);

body {
  background-color: snow;
  color: grey;
  font: 300 12px 'Source Code Pro', Helvetica, Arial, sans-serif;
  padding: 30px 50px;
}

strong {
  font-weight: 500;
}

hr {
  border-bottom-style: none;
  border-color: lightgrey;
  border-top-style: solid;
  margin: 50px 0;
}

table {
  margin: 12px 0 36px 0;
}

td {
  max-width: 800px;
  padding: 0 12px;
  word-wrap: break-word;
  vertical-align: top;
}

pre {
  margin: 0;
}

.hidden {
  display: none;
}

.link {
  background-color: white;
  border-radius: 2px;
  color: chocolate;
  font-weight: 400;
  padding: 0 4px;
  text-decoration: none;
}

.link:hover {
  background-color: chocolate;
  color: snow;
}

.logo img {
  background-color: snow;
  min-width: 100px;
  opacity: 0.8;
  padding: 12px;
  position: fixed;
  right: 50px;
  width: 14%;
}